{% extends 'base.html' %}

{% block title %} BlogPost: {{ object.pk }} {% endblock %}

{% block content %}
    <div>
        <h1>{{ object.title }}</h1>
        <h4>{{ object.author }}</h4>
        <p>{{ object.content }}</p>
    </div>
{% endblock %}